<!DOCTYPE html>
<html lang="en">

<head>
    {% block misc %}
        <meta charset="UTF-8">
        <meta name="description" content="Restaurant Reviews working offline.">
        <link rel="manifest" href="{{ assetsPrefix }}manifest.json">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#252831"/>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" media="nope!" onload="this.media='all'"/>
        <link rel="stylesheet" href="{{assetsPrefix}}css/styles.css">
    {% endblock %}
    <title>Restaurant Reviews - {% block title %}{% endblock %}</title>
</head>

<body>
{% block header %}
    <header>
        <nav role="navigation">
            <h1><a href="/">Restaurant Reviews</a></h1>
        </nav>
    </header>
{% endblock %}

<div id="overlay" style="position: fixed; width: 100vw; height: 100vh; background: #333; top: 0; z-index: 99; display: block !important;">
  <img src="{{assetsPrefix}}img/loading.gif" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
</div>
{% block main %}
<main id="maincontent" role="main" style="visibility:hidden">
    {% endblock %}
    {% block body %}
    {% endblock %}
</main>

{% block scripts %}
    <script type="application/javascript" charset="utf-8" src="{{assetsPrefix}}js/main.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZyUeaJZv0dXSBsJqALEkJmS5nKRZJDuY&libraries=places&callback=initMap"></script>
{% endblock %}
{% block footer %}
    <footer id="footer" role="contentinfo">
        <span>Copyright (c) 2017 <a href="/"><strong>Restaurant Reviews</strong></a> All Rights Reserved.</span>
    </footer>
{% endblock %}

</body>

</html>
