{% extends 'base.html.twig' %}
{% block title %}{% if restaurant is defined %}{{ restaurant }}{% else %}review{% endif %}{% endblock %}
{% block header %}
    <!-- Beginning header -->
    <header>
        <!-- Beginning nav -->
        <nav role="navigation">
            <h1><a href="/">Restaurant Reviews</a></h1>
        </nav>
        <!-- Beginning breadcrumb -->
        <nav aria-label="Breadcrumb">
            <ul id="breadcrumb" role="directory">
                <li><a href="/">Home</a></li>
            </ul>
            <button id="toggle-map">Toggle map</button>
        </nav>
        <!-- End breadcrumb -->
        <!-- End nav -->
    </header>
    <!-- End header -->
{% endblock %}
{% block main %}
<main id="maincontent" class="inside" role="main" style="visibility:hidden">
    {% endblock %}
{% block body %}
    <!-- Beginning map -->
    <section id="map-container" style="display: none">
        <div id="map" role="application" style="display: none"></div>
    </section>
    <!-- End map -->
    <!-- Beginning restaurant -->
    <section id="restaurant-container">
        <h2 id="restaurant-name">{{ restaurant }}</h2>
        <img id="restaurant-img" alt="Restaurant image" src="">
        <p id="restaurant-cuisine"></p>
        <p id="restaurant-address"></p>
        <table id="restaurant-hours"></table>
    </section>
    <!-- end restaurant -->
    <!-- Beginning reviews -->
    <section id="reviews-container">
        <ul id="reviews-list"></ul>
    </section>
    <!-- End reviews -->
    <section id="add-review">
        <form role="form" id="review-form">
            <div>
                <label for="name" id="name-label">Name:</label>
                <input id="name" aria-labelledby="name-label" name="name">
            </div>
            <div>
                <label for="rating" id="rating-label">Rating from 1-5:</label>
                <div id="range-legend">
                    <div style="background-color: darkred">1</div><div style="background-color: orangered; color: white">2</div><div style="background-color: yellow">3</div><div style="background-color: #bfff57">4</div><div style="background-color: green">5</div>
                </div>
                <input id="rating" aria-labelledby="rating-label" name="name" type="range" min="1" max="5" step="1">
            </div>
            <div>
                <label for="review" id="review-label">Review:</label>
                <textarea aria-labelledby="review-label" id="review"></textarea>
            </div>
            <div>
                <input type="submit" placeholder="submit">
            </div>
        </form>
    </section>
{% endblock %}
